@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-4.0/InterVariable.ttf'), format('ttf');
}

@font-face {
  font-family: 'Inter-Black';
  src: url('./fonts/Inter-4.0/extras/ttf/Inter-Black.ttf'), format('ttf');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./fonts/Inter-4.0/extras/ttf/Inter-ExtraBold.ttf'), format('ttf');
}

:root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

::-moz-selection {
  background-color: #ffcc00;
  background-blend-mode: multiply;
}
::-webkit-selection {
  background-color: #ffcc00;
  background-blend-mode: multiply;
}
::selection {
  background-color: #ffcc00;
  background-blend-mode: multiply;
}

.star-animation {
  position: absolute;
  animation: star-fall 2s linear infinite;
}